@import '../../../shared/styles/core';
.nav-sidebar {
    display: flex;
    flex-direction: column;
    background: $w;
    border-radius: 10px;
    height: calc(100vh - 20px);
    width: $navSidebarWidth;
    padding: 10px 0;
    box-sizing: border-box;
    .logo {
        align-self: center;
        width: 150px;
        height: auto;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        .item {
            margin: 10px;
            text-decoration: none;
            padding: 15px;
            border-radius: 10px;
            color: black;
            display: flex;
            align-items: center;
            transition: background .200s, color .250s;
            &:hover {
                background: $secondBackground;
                color: $w;
            }
            &.active {
                background: $secondBackground;
                color: $w;
            }
            .mat-icon {
                margin-right: 10px;
            }
        }
    }
}