<div class="nav-sidebar">
    <img class="logo" src="assets/logo.png" alt="logo"/>
    <nav class="navigation">
        <a [routerLink]="navItem.route" class="item" routerLinkActive="active" *ngFor="let navItem of navigation"><mat-icon>{{navItem?.icon}}</mat-icon>{{navItem?.name}}</a>
    </nav>
</div>
