<form [formGroup]="projectForm" (keyup.enter)="confirm()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Project name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
</form>
<button class="btn btn-default" (click)="confirm()">Confirm</button>
<button class="btn btn-default btn-white" (click)="cancel()">Cancel</button>