.btn {
    background: $secondBackground;
    color: $w;
    border: none;
    margin-right: 10px;
    &-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    &-default {
        border-radius: 10px;
        padding: 10px;
    }
    &-white {
        color: $secondBackground;
        background: $w;
        border: 1px solid $secondBackground;
    }
}