/* Colors */
$w: #fff;
$mainBackground: #ebebeb;
$secondBackground: #df2b2e;
$thirdBackground: #c4c5c5;
$doneStatus: #56f000;
$delayStatus: #ff3838;
$seriousStatus: #ffb302;
$inprogressStatus: #2dccff;
$isWaitingStatus: #9ea7ad;
$archivedStatus: #dfdfdf;

/* Sizes */
$navSidebarWidth: 250px;

/* Fonts */
$dongleFont: 'Dongle', serif;