@import '../../styles/core';

.sprint {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 15px 19px -12px rgba(181, 175, 175, 1);
    margin-bottom: 15px;
    color: $w;
    align-items: flex-start;
    align-content: flex-start;
    &-status {
        background: $isWaitingStatus;
        &--done {
            background: $doneStatus;
        }
        &--delay {
            background: $delayStatus;
        }
        &--serious {
            background: $seriousStatus;
        }
        &--inprogress {
            background: $inprogressStatus;
        }
        &--is-waiting {
            background: $isWaitingStatus;
        }
        &--archived {
            background: $archivedStatus;
        }
    }
    .actions {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}