<div class="sprint sprint-status" 
    [ngClass]="{
        'sprint-status--isWaiting': sprint.status === SprintStatus.IS_WAITING,
        'sprint-status--inprogress': sprint.status === SprintStatus.INPROGRESS && (sprint.endDate | daysLeft) >= 3,
        'sprint-status--done': sprint.status === SprintStatus.DONE,
        'sprint-status--delay': sprint.status !== SprintStatus.DONE && (sprint.endDate | daysLeft) < 0,
        'sprint-status--serious': sprint.status !== SprintStatus.DONE && sprint.status !== SprintStatus.IS_WAITING && (sprint.endDate | daysLeft) < 3 && (sprint.endDate | daysLeft) >= 0,
        'sprint-status--archived': sprint.status === SprintStatus.ARCHIVED}">
    <h2>Name: {{sprint?.name}}</h2>
    <h3>Id: #{{id + 1}}</h3>
    <span>Date start: {{sprint?.startDate | date}}</span>
    <span>Date end: {{sprint?.endDate | date}}</span>
    <span>Date done: {{sprint?.doneDate ? (sprint?.doneDate | date) : '-'}}</span>
    <span>Deadline: {{sprint?.endDate | daysLeft}} days</span>
    <span>Release: {{sprint?.releaseDate ? (sprint?.releaseDate | date) : '-'}}</span>
    <div class="actions">
        <button *ngIf="sprint.status !== SprintStatus.ARCHIVED" (click)="edit()" class="btn btn-circle"><mat-icon>edit</mat-icon></button>
        <button *ngIf="sprint.status !== SprintStatus.ARCHIVED" (click)="delete()" class="btn btn-circle"><mat-icon>delete</mat-icon></button>
    </div>
</div>