
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$sprint-dashboard-primary: mat.define-palette(mat.$indigo-palette);
$sprint-dashboard-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$sprint-dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$sprint-dashboard-theme: mat.define-light-theme((
  color: (
    primary: $sprint-dashboard-primary,
    accent: $sprint-dashboard-accent,
    warn: $sprint-dashboard-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($sprint-dashboard-theme);

@import './app/shared/styles/core';
/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    background: $mainBackground;
    //font-family: $dongleFont;
    font-size: 1.2em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { cursor: pointer; outline: none; }

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  background-color: $thirdBackground;
}
.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: $thirdBackground;
}
.mat-form-field.mat-focused .mat-form-field-label, .mat-form-field-label {
  color: $thirdBackground;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $secondBackground;
}
.mat-select-arrow {
  color: $secondBackground;
}
.mat-calendar-body-selected {
  background-color: $secondBackground;
}