<form [formGroup]="sprintForm" (keyup.enter)="confirm()">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Sprint name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" (valueChange)="statusChange($event)">
          <mat-option [value]="SprintStatus.IS_WAITING">Is waiting</mat-option>
          <mat-option [value]="SprintStatus.INPROGRESS">Inprogress</mat-option>
          <mat-option [value]="SprintStatus.DONE">Done</mat-option>
          <mat-option *ngIf="sprint.status === SprintStatus.ARCHIVED" [value]="SprintStatus.ARCHIVED">Archived</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox class="example-margin" formControlName="isRelease" (change)="changeRelease()" [disabled]="sprintForm.get('status')?.value !== SprintStatus.DONE">Release</mat-checkbox>
      <!-- <mat-form-field appearance="fill">
        <mat-label>Relese date</mat-label>
        <input matInput [matDatepicker]="releaseDate" formControlName="releaseDate">
        <mat-datepicker-toggle matSuffix [for]="releaseDate"></mat-datepicker-toggle>
        <mat-datepicker #releaseDate></mat-datepicker>
      </mat-form-field> -->
</form>
<button class="btn btn-default" (click)="confirm()">Confirm</button>
<button class="btn btn-default btn-white" (click)="cancel()">Cancel</button>