@import '../../shared/styles/core';
.dashboard {
    width: 100%;
    height: calc(100vh - 108px);
    overflow-y: hidden;
}
.content {
    display: flex;
    // flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

.add-project {
    border: none;
    border-radius: 10px;
    background: $w;
    width: 100%;
}

.project {
    position: relative;
    background: $w;
    border-radius: 10px;
    min-width: 250px;
    padding: 10px;
    margin: 20px 10px;
    &:first-of-type {
        margin-left: 0;
    }
    &:last-of-type {
        margin-right: 0;
    }
    &-number {
        background: $secondBackground;
        position: absolute;
        top: -20px;
        height: 40px;
        width: 40px;
        color: $w;
        border-radius: 10px;
        box-shadow: 0px 15px 19px -12px rgba(181, 175, 175, 1);
        text-align: center;
        padding: 10px 0;
        box-sizing: border-box;
    }
    &-header {
        text-align: right;
    }
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    overflow: auto;
}