<div class="dashboard">
    <div class="content">
        <div class="project">
            <button class="add-project" (click)="addProject()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <ng-container *ngFor="let project of projects; let projectIndex = index">
            <div class="project">
                <div class="project-number">
                    {{project.sprints.length < 99 ? project.sprints.length : '99+'}}
                </div>
                <div class="project-header">
                    <h3>{{project?.name}}</h3>
                </div>
                <div class="actions">
                    <div class="actions-left">
                        <button class="btn btn-circle" (click)="addSprint(projectIndex)"><mat-icon>add</mat-icon></button>
                        <button class="btn btn-circle" (click)="editProject(project, projectIndex)"><mat-icon>edit</mat-icon></button>
                        <button class="btn btn-circle" (click)="deleteProject(projectIndex)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <button class="btn btn-default" *ngIf="projectsWithArchivedSprints[projectIndex]?.sprints?.length" (click)="showArchivedSprints(projectIndex)">Archived sprints</button>
                </div>
                <ng-container *ngFor="let sprint of project?.sprints; let sprintIndex = index">
                    <app-sprint-box *ngIf="sprint?.status !== SprintStatus.ARCHIVED" [id]="sprintIndex" [sprint]="sprint" (editIsClick)="editSprint(sprint, projectIndex, sprintIndex)" (deleteIsClick)="deleteSprint(projectIndex, sprintIndex)"></app-sprint-box>
                </ng-container>
            </div>   
        </ng-container>
    </div>
</div>